@font-face {
    font-family: "Cormorant Garamond";
    src: url("/static/font/CormorantGaramond-Regular.ttf") format("truetype");
    
}

@font-face {
    font-family: "Cormorant Garamond Bold";
    src: url("/static/font/CormorantGaramond-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Source Code Pro";
    src: url("/static/font/SourceCodePro-Regular.ttf") format("truetype");
    
}

@font-face {
    font-family: "Source Code Pro Bold";
    src: url("/static/font/SourceCodePro-Bold.ttf") format("truetype");
}

*{
    box-sizing: border-box;
}

html{
    font-family: open-sans;
}

body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

h1, h2{
    font-family: "Cormorant Garamond Bold";
}

span, p, a, button{
    font-family: 'Source Code Pro', sans-serif;
}

.wrapper{
    display: grid;
    background-color: #F5F5ED;
    
}

.header{
    background-color: #AFAD96;
    margin-bottom: 3em;
}

.header--title{
    margin: 0;
}

.header__title--text{
    font-family: "Cormorant Garamond Bold", sans-serif;
    color: #605F4B;
}

.header--subtitle{
    margin: 0;
}

.posts__ul__post{
    display: grid;
    margin-bottom: 3em;
}

.posts__ul__post--link{
    color: #605F4B;
}

footer{
    margin-top: 100px;
    padding: 20px;
    text-align: center;
}

button{
    color: #605F4B;
    font-weight: bold;
}

/* POST.HTML */
.post__article{
    padding: 20px;
}

.post__article h2, h3 {
    font-family: 'Source Code Pro Bold';
}

.post__article--btn{
    margin-top: 2em;
}

/* Laptop */
@media (min-width: 760px) {
    
}