<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
        <title>The Fig Tree</title>

        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        
        <!-- HTMX -->
        <script src="{{ url_for('static', filename='js/htmx.min.js') }}" defer></script>
	</head>
    <body hx-boost="true">
        <div class="wrapper">
            <header class="header">
                <h1 class="header--title">
                    <a class="header__title--text" href="{{ url_for('index')}}" 
                        hx-target="#posts"
                    >The Fig Tree</a>
                </h1>
                <h2 class="header--subtitle">Reviews on culture, one fruit at a time. </h2>
                <!-- <nav>
                    <a href="/index.html">Home</a>
                </nav> -->
            </header>
    
            {% block content %}{% endblock %}
            <footer>
                <span>© 2024 The Fig Tree</span>
            </footer>
        </div>
    </body>
</html>