{% extends "base.html" %}

{% block content %}
    <main class="posts">
        <ul>
            {% for post in posts %}
                <li>
                    <a href="{{ url_for('showPost', postId = post.id) }}">
                        {{ post.title.title()}}
                    </a>
                    <p>{{ post.date }}</p>
                    <!-- <article  class="posts__article">
                    {{ post.content[0:200]   | safe }}
                    </article> -->
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
