{% extends "base.html" %}

{% block content %}
    <main class="posts">
        <ul class="posts__ul">
            {% for post in posts %}
                <li class="posts__ul__post">
                    <a class="posts__ul__post--link" href="{{ url_for('showPost', postId = post.id) }}">
                        {{ post.title.title()}}
                    </a>
                    <span>{{ post.date }}</span>
                    <!-- <article  class="posts__article">
                    {{ post.content[0:200]   | safe }}
                    </article> -->
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
